.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form {
  max-width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}

.toggleRow {
  margin-bottom: 60px;
}

.toggle {
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 12px;
}

.title {
  color: var(--white);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: 40px 0 32px;
  padding-top: 32px;
}

.header {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: var(--white);
}

.categoryLabel {
  color: var(--white);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
  border-bottom: solid 1px var(--white-40);
  width: 280px;
  text-align: left;
  margin-bottom: 40px;
  transition: all 0.3 ease;

  &:hover,
  &:focus {
    border-bottom: solid 1px var(--yellow);
  }
}

.numInput,
.dateInput,
.textInput {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--white-40);
  color: var(--white);
  width: 280px;
  outline: none;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3 ease;

  &:hover,
  &:focus {
    border-bottom: solid 1px var(--yellow);
  }
}

.numInput {
  font-weight: 600;
  padding-left: 20px;
}

.dateInput {
  border: none;
}

.textInput {
  padding: 0 20px 40px;
}

.twoInput {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: 99px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 30px;
    width: 381px;
    height: 40px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 40px 0;
    margin: 0;
  }

  .categoryLabel {
    padding-left: 8px;
    width: 394px;
  }

  .numInput {
    width: 181px;
    padding: 8px;
    text-align: center;
  }

  .textInput {
    padding: 8px;
    width: 394px;
  }

  .dateInput {
    width: 181px;
    padding: 0;
    justify-content: space-between;
    align-items: normal;
    border: none;
  }

  .twoInput {
    flex-direction: row;
    gap: 32px;
    max-width: 394px;
    flex-shrink: 0;
    align-items: end;
  }

  .form {
    max-width: 394px;
  }
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.saveButton,
.cancelButton {
  width: 280px;
  padding: 12px 0;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background-position: left center;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-size: 200%;
    background-position: right center;
    transform: var(--scale);
    outline: none;
  }
}

.saveButton {
  background: var(--button-gradient);
  color: var(--white);
}

.cancelButton {
  background: var(--white);
  color: var(--text-button);
}

.errorField {
  display: flex;
  position: relative;
}

.message {
  color: var(--yellow);
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: -15px;
}

.activeToggle {
  color: var(--yellow);
}

.inactiveToggle {
  color: #e0e0e0;
}

.dateInput {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dateInput input:focus,
.dateInput select:focus {
  border-bottom: 1px solid #ffffff;
  /* color: #ffffff; */
  transition: all 0.35s ease-in-out;
}

.dateInput input::placeholder {
  color: #ffffff99;
  transition: all 0.35s ease-in-out;
}

.dateInput input:focus::placeholder {
  /* color: #ffffff; */
  transition: all 0.35s ease-in-out;
}

.dateInput.date {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateInput.date input {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  color: #ffffff99;
  transition: all 0.5s ease 0s;
  border-bottom: 1px solid #ffffff;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dateInput.date input:focus {
  /* color: #ffffff; */
  transition: all 0.5s ease 0s;
}

.icon {
  position: absolute;
  top: -5px;
  right: 17px;
  color: #734aef;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

form .inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inputField input:focus,
.inputField select:focus {
  border-bottom: 1px solid #ffffff;

  transition: all 0.35s ease-in-out;
}

.inputField input::placeholder {
  transition: all 0.35s ease-in-out;
}

.inputField input:focus::placeholder {
  transition: all 0.35s ease-in-out;
}

.inputField p {
  color: rgb(255, 134, 141);
  font-size: 14px;
  padding-left: 12px;
  /* padding-left: 20px; */
}

.inputField {
  border: none;
}

.selectField {
  border: none;
  background-color: none;
}

.selectTransparent {
  display: flex;
  color: #ffffff;
  background: transparent;
  border: none;
  font-size: 16px;
  outline: none;
  appearance: none; /* прибирає стрілочку у більшості браузерів */
  padding: 4px 8px;
}

.selectTransparent option {
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(80, 48, 154, 0.7);
  color: #ffffff;
  width: 100%;
  outline: none;
}
