.statistics {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.statisticsTitle {
  font-weight: 400;
  font-size: 30px;
  color: var(--white);
  margin-bottom: 8px;
}

.doughnutChart {
  width: 280px;
  height: 280px;
  margin-bottom: 32px;
}

.statisticDatePicker {
  height: 120px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .statistics {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .statisticsTitle {
    margin-bottom: 20px;
  }

  .doughnutChart {
    width: 336px;
    height: 336px;
    margin-bottom: 0;
  }

  .statisticsData {
    display: flex;
    flex-direction: column;
  }

  .statisticDatePicker {
    margin-top: 20px;
    height: 50px;
  }
}

@media (min-width: 1280px) {
  .statistics {
    padding-left: 69px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 16px;
  }

  .statisticsTitle {
    margin-left: 15px;
  }

  .doughnutChart {
    width: 288px;
    height: 288px;
  }

  .statisticsData {
    width: 395px;
  }

  .statisticDatePicker {
    margin-top: 65px;
  }
}
