/* Мобілка */
.contentWrapper {
  flex-direction: column;
  min-height: 100vh;
}

.sidebar {
  display: none;
}

.mobileOnlyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
  flex-grow: 1;
  background: linear-gradient(180deg, #6e54eb 3%, #553382 90%);
  background-image: url("../../images/Dashboard/background-mob.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.mainContent {
  padding: 0;
  background: transparent;
  flex-grow: 1;
}

.pageWrapper {
  height: 100vh;
}

@media only screen and (min-width: 768px) and (max-width: 1199.98px) {
  .pageWrapper {
  }
  .mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 32px;
    min-height: 100vh;
    background-image: url("../../images/Dashboard/background-tab.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .tabletWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
  }

  .contentWrapper {
  }
}

@media only screen and (min-width: 1200px) {
  .contentWrapper {
    background-image: url("../../images/Dashboard/background-desc.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
  }
  .pageWrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    min-height: 100vh;
  }

  .contentWrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
  }

  .sidebar {
    width: 395px;
    background: linear-gradient(180deg, #4d3a9a 3%, #352051 90%);
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 40px;
    height: 100%;
  }

  .mainContent {
    flex-grow: 1;
    padding: 40px;
    background: linear-gradient(180deg, #6e54eb 3%, #553382 90%);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    position: relative;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}

.navBal {
  display: flex;
  gap: 28px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.navBalCur {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  width: 100%;
}

.currencyGraph {
  max-width: 336px;
}

.desktopWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 69px;
  min-height: 100vh;
  height: inherit;
}

/* .sidebar {
  height: auto;
} */

.curGraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
