.btnBase {
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submitBtn {
  background: linear-gradient(90deg, #ffc727 0%, #9e40ba 51%, #7000ff 100%);
  color: var(--white);
  box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.2);
}

.submitBtn:hover {
  background-color: var(--white);
  color: var(--text-button);
}

.navLinkBtn {
  background-color: #fcfcfc;
  color: var(--text-button);
  box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.2);
}

.navLinkBtn:hover {
  background-color: #e0e0e0;
}

.btnBase:focus {
  outline: none;
}

.btnBase:active {
  transform: translateY(2px);
}
