.navWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 15px;
  border-radius: 8px;
  color: var(--white-60);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid transparent;
}

.navLink:hover {
  color: var(--white);
  background-color: var(--form-color);
}

.navLinkActive {
  color: var(--white);
  background-color: var(--icon-violet);
  font-weight: 600;
  border: 1px solid var(--icon-violet);
}

.navIcon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.navText {
 font-size: 16px;
 font-weight: 500;
}

@media (max-width: 1200px) {
  .navText {
    display: none;
  }
  .navLink {
    justify-content: center;
    padding: 12px;
  }
}