.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  width: 100%;
  background-color: var(--background);
  border-bottom: 1px solid var(--white-40);
  flex-shrink: 0;
}



.logoText {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userName {
  color: var(--white-60);
  font-size: 16px;
}

.exitButton {
  background: transparent;
  border: none;
  color: var(--white-60);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
  padding: 5px;
}

.exitButton span {
    margin-left: 5px;
}


.exitButton:hover {
  color: var(--white);
}

.modalTitle {
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--white);
}


.modalLogoutButton {
  padding: 10px 20px;
  background-color: var(--icon-violet);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 600;
}

.modalCancelButton {
  padding: 10px 20px;
  background-color: transparent;
  color: var(--white-60);
  border: 1px solid var(--white-40);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.modalLogoutButton:hover, .modalCancelButton:hover {
    opacity: 0.9;
}


@media (max-width: 767px) {
  .headerWrapper {
      padding: 15px 20px;
  }
  .logoText {
      font-size: 20px;
  }
  .userName {
      display: none;
  }
   .exitButton {
       font-size: 14px;
   }
   .exitButton span {
       display: none;
   }
}