/* .table {
  width: 100%;
  border-collapse: collapse;

  @media screen and (min-width: 768px) {
    height: 100%;
    box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.25);
  }
}

.title {
  text-align: start;
  padding: 16px 10px 16px 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
}

.thead {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.sum {
  text-align: right;
}

.title:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.title:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding: 20px;
}
 */

@media screen and (min-width: 768px) {
  .table {
    max-width: 715px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    border-collapse: collapse;
  }

  .t_row {
    display: flex;
    align-items: start;
    justify-content: start;
  }

  .titleDate {
    margin-right: 64px;
  }

  .titleType {
    margin-right: 80px;
  }
  .titleCategory {
    margin-right: 60px;
  }

  .titleComment {
    margin-right: 60px;
  }

  .thead {
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(82, 59, 126, 0.6);
    width: 100%;
    border-radius: 8px;
  }

  .tbody {
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding: 20px;
}

.title {
  text-align: start;
  /* padding: 16px; */
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
}
