.currencyWrapper {
  background-color: var(--form-color);
  border-radius: 10px;
  padding: 15px 20px;
  margin-top: 30px;
  width: 100%;
  overflow-x: auto;
}

.currencyTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.currencyTable th,
.currencyTable td {
  color: var(--white-60);
  padding: 8px 5px;
  font-size: 14px;
}

.currencyTable th {
  color: var(--white);
  font-weight: 600;
}

.error {
 color: var(--dashboard-text);
 font-size: 14px;
 text-align: center;
}

@media (max-width: 767px) {
  .currencyWrapper {
    margin-top: 20px;
    padding: 10px 15px;
  }
   .currencyTable th,
   .currencyTable td {
      font-size: 12px;
  }
}