.balanceWrapper {
  padding: 20px;
  background-color: var(--form-color);
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
}

.balanceText {
  font-size: 14px;
  color: var(--white-60);
  margin-bottom: 8px;
  text-transform: uppercase;
}

.balanceAmount {
  font-size: 28px;
  font-weight: 700;
  color: var(--white);
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .balanceWrapper {
     margin-top: 0;
     margin-bottom: 20px;
     text-align: center;
  }
}