.progressBar {
  height: 4px;
  width: 280px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  border-radius: 1px;
  margin-top: 4px;
  overflow: hidden;
  bottom: 170px;
  border-radius: 8px;
}

.confirmProgresFill {
  height: 100%;
  width: 100%;
  background-color: #ffb627;
  transition: width 0.3s ease;
}

@media screen and (min-device-width: 768px) {
  .progressBar {
    width: 409px;
    bottom: 180px;
  }
}
